/*
Colores
  purple: hsl(263, 55%, 52%)
  grey: hsl(217, 19%, 35%)
  dark-blue: hsl(219, 29%, 14%)

  El texto de las tarjetas tiene una opacidad del 70%
  La información del usuario tiene una opacidad del 50%

Fuente de la página
  https://fonts.google.com/specimen/Barlow+Semi+Condensed
  Estilos 500 y 600
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}
